.Logo {
    margin: 3px 12px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}

.Logo:hover {
    animation: App-logo-spin infinite 5s linear;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
