.App-layers {
    /* put the layer list on the left */
    /*list-style-type:none;*/
    /* 12em is the width of the columns */
    flex: 0 0 13em;
    flex-grow: 0;
    order: -1;
    background: rgba(147, 128, 108, 0.1);
    overflow-y: auto;
    padding-left: 0px;
    margin-top: 0;
    margin-bottom: 0;
}

.App-layers ul {
    padding:0;
    overflow:auto;
}

/*@media (max-width: 415px) {*/
@media only screen and (max-width: 415px) {
    .App-layers {
        display: none;
    }

    .App-layers-displayed {
        position: fixed;
        text-align: left;
        /*width: 280px;*/
        height: 65%;
        max-width: 70%;
        max-height: 70%;
        left: 10px;
        top: 190px;
        z-index: 10;
        background-color: rgba(255,255,255,0.9);
        border: 1px solid darkgrey;
        /*padding: 32px 16px;*/
        box-sizing: border-box;
        /*transition: transform 0.3s ease-out;*/
        animation-name: fadeIn;
        animation-duration: 1s;
    }

    .App-layers-displayed ul {
        padding-left: 3px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}
