.Layer-edit-form {

}

.Layer-edit-form input, label, textarea {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

.Layer-edit-form input, textarea {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.Layer-edit-form button {
    float: right;
    height: 24px;
    border-radius: 5px;
    margin-left: 1em;
    margin-right: 1em;
}

