.Logo {
    margin: 0 18px;
    height: 100%;
    /*box-sizing: border-box;*/
    /*border-radius: 5px;*/
}

.Logo:hover {
    animation: App-logo-spin infinite 5s linear;
}

.Logo img {
    height: 100px;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(-360deg); }
}
