.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow: hidden;
}

.App-body {
  display: flex;
  flex:1 0 auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
