.DocumentComponentCell {
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
    position: relative;
    box-sizing: border-box;
    padding: 1em;
    border: 2px solid darkgrey;
    border-radius: 5px;
    text-align: left;
    text-decoration: none;
    background: rgba(147, 128, 108, 0.1);
}

/*.DocumentComponentCell:hover,*/
/*.DocumentComponentCell:active {*/
/*background: rgba(147, 128, 108, 0.4);*/
/*}*/

.DocumentComponentCell a {
    text-decoration: none;
}

/*.DocumentComponentCell a:hover,*/
/*.DocumentComponentCell a:active {*/
/*background: rgba(147, 128, 108, 0.4);*/
/*}*/

.DocumentComponentCell img {
    border: 1px solid darkgrey;
    background-color: white;
    width: 100%;
}

.DocumentComponentCell img:hover,
.DocumentComponentCell img:active {
    background-color: rgba(147, 128, 108, 0.4);
}

.DocumentComponentCellBottom {
    display: flex;
    flex-flow: row;
}

.DocumentComponentCellBottom h3, h4, h5, h6, h7 {
    margin: 3px 0;
    color: black;
}

.DocumentComponentCellBottom div {
    flex: 3;
    box-sizing: border-box;
}

DocumentComponentCellBottom button {
    height: 100%;
    flex: 1;
}

